/* Generale */
* {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 16px;
}

.lc_container_small {
  width: 50%;
  margin: auto;
}

.pad_topbottom_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bold {
  font-weight: 700;
}

.cornicetta {
  width: 60%;
  max-width: 95%;
  margin: 20px auto;
}

.cornicetta div {
  display: inline-block;
  width: 100px;
  max-width: 20%;
  border: 2px solid #fff;
  border-radius: 3px;
  vertical-align: middle;
}

.cornicetta i {
  font-size: 2rem;
  vertical-align: middle;
  padding: 0 10px;
}
/* / generale */

/* Header */
/* Barra di navigazione */
.lc_nav {
  background-color: #2C3E50;
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-size: 1.8rem;
}

nav ul li {
  font-size: 1.2rem;
}

nav a {
  color: #fff;
}

nav .lc_logo a:hover {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #1ABC9C;
  text-decoration: none;
}

nav .lc_menu_xs i {
  padding-left: 5px;
}

nav .lc_menu_xs a {
  background-color: #1ABC9C;
  padding: 15px 20px;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: 700;
}

nav .lc_menu_xs a:hover {
  background-color: #12876f;
  text-decoration: none;
  color: #fff;
}
/* fine barra di navigazione */

/* Jumbotron */
.lc_jumbotron {
  margin-top: 100px;
  background-color: #1ABC9C;
  color: #fff;
}

.lc_jumbotron img {
  max-height: 250px;
}

.lc_jumbotron h1 {
  font-size: 4rem;
}

.lc_jumbotron p {
  font-size: 1.4rem;
}
/* fine Jumbotron */
/* fine header */

/* Main */
/* Sezione 6-boxes */
.lc_colored_boxes {
  background-color: #fff;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.lc_colored_boxes .cornicetta > div,
.lc_form .cornicetta > div {
  border-color: #2C3E50;
}

.boxes > div {
  margin-top: 30px;
  position: relative;
}

.boxes > div img {
  border-radius: 10px;
}

.boxes .overlay {
  width: calc(100% - 30px);
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 15px;
  background-color: rgb(26, 188, 156);
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.boxes .overlay i {
  color: #fff;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxes > div:hover .overlay {
  opacity: 0.9;
}
/* fine sezione 6-boxes */

/* Sezione about */
.lc_about {
  background-color: #1ABC9C;
  color: #fff;
}

.lc_about p {
  font-size: 1.3rem;
}

.lc_about button {
  background-color: #1ABC9C;
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

.lc_about button i {
  padding-right: 7px;
}

.lc_about button:hover {
  color: #2C3E50;
  background-color: #fff;
}

button,
.lc_icons li,
.lc_about_freelancer a {
  transition: 0.4s;
}
/* fine sezione about */

/* Sezione form */
.lc_form .cornicetta > div {
  border-color:
}

.lc_form form input,
.lc_form form textarea {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.lc_form form input:focus,
.lc_form form textarea:focus {
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
}

.lc_form button {
  margin-top: 20px;
  padding: 20px 25px;
  background-color: #1ABC9C;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.lc_form button:hover {
  background-color: #12876f;
}
/* fine sezione form */
/* fine main */

/* Footer*/
.lc_main_footer {
  color: #fff;
  background-color: #2C3E50;
}

.lc_main_footer .row > div:not(:last-child) {
  margin-bottom: 20px;
}

.lc_main_footer h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.lc_main_footer p {
  font-size: 16px;
  padding: 0 40px;
}

.lc_icons ul {
  margin: 0;
  list-style: none;
}

.lc_icons li {
  display: inline-block;
}

.lc_icons a {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.lc_icons a:hover {
  color: #2C3E50;
  background-color: #fff;
}

.lc_about_freelancer a {
  color: #1ABC9C;
}

.lc_about_freelancer a:hover {
  text-decoration: underline;
  color: #12876f;
}

.lc_bottom_footer {
  font-size: 1rem;
  height: 100px;
  line-height: 100px;
  color: #fff;
  background-color: #1A252F;
}

.lc_bottom_footer p {
  margin: 0;
}
/* fine footer */

/* MEDIA QUERIES  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
  font-size: 12px;
}
}
@media screen and (max-width: 767px) {
  html {
  font-size: 10px;
}

.lc_container_small {
  width: 90%;
}

.boxes .overlay i {
  font-size: 150px;
}

.lc_about p {
  font-size: 1.7rem;
}

.lc_main_footer h4 {
  font-size: 1.8rem;
}
}
/* fine MEDIA QUERIES */
